@font-face {
  font-family: 'Nova Script';
  font-style: normal;
  font-weight: normal;
  src: local('Nova Script'), local('NovaScript'), url('http://themes.googleusercontent.com/static/fonts/novascript/v3/NQ86E43l_oCMF8Cvg62jaLrIa-7acMAeDBVuclsi6Gc.woff') format('woff');
}
@font-face {
  font-family: 'Nobile';
  font-style: normal;
  font-weight: normal;
  src: local('Nobile'), url('http://themes.googleusercontent.com/static/fonts/nobile/v1/BdG5WJmB9CCPn6im5Y8A5OvvDin1pK8aKteLpeZ5c0A.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'), url('http://themes.googleusercontent.com/static/fonts/ubuntucondensed/v1/DBCt-NXN57MTAFjitYxdrCsFyM221pAdRG8rl2uSFa8.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: normal;
  src: local('Ubuntu Mono Italic'), local('UbuntuMono-Italic'), url('http://themes.googleusercontent.com/static/fonts/ubuntumono/v1/KAKuHXAHZOeECOWAHsRKA4o3ZslTYfJv0R05CazkwN8.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: bold;
  src: local('Ubuntu Mono Bold'), local('UbuntuMono-Bold'), url('http://themes.googleusercontent.com/static/fonts/ubuntumono/v1/ceqTZGKHipo8pJj4molythbnBKKEOwRKgsHDreGcocg.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: normal;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url('http://themes.googleusercontent.com/static/fonts/ubuntumono/v1/ViZhet7Ak-LRXZMXzuAfkbrIa-7acMAeDBVuclsi6Gc.woff') format('woff');
}


@font-face {
  font-family: "FontinPro";
  src: url('FontinPro.otf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "FontinPro";
  src: url('FontinProItalic.otf');
  font-style: italic;
  font-weight: normal;
}