<!DOCTYPE html>
<html lang="fr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Mariage Alexandre &amp; Jessica - 28 Juillet 2012</title>
  <link rel="stylesheet" href="/media/style/wedding.css" />
  <link rel="shortcut icon" type="image/png" href="/media/images/favicon.png"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
  <script src="/media/javascripts/main.js" charset="utf-8"></script>
</head>

<body>

  <header> 
    <h1><a href="/"><span>28 Juillet 2012</span></a></h1>
    <h2>Mariage d'Alexandre &amp; Jessica</h2>
    <nav> 
      <ul> 
        <li><a href="#">Planning</a></li>
        <li><a href="#lieu">Nous</a></li>
        <li><a href="#utile">Utile</a></li> 
        <li><a href="#voyage">Voyage</a></li>
      </ul> 
    </nav>
  </header>

  <div id="content">
    <section class="posts">
{{ content }}
    </section>
  </div>

  <footer>
    <div class="about">blabla <span style="font-size: 18px">&#x263a;</span></div>
    <div class="contact">
		contact emails
	</div>
  </footer>
</body>
</html>